main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
article {
  width: 30%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5), -5px 5px 20px rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  margin: 20px 0;
}
article a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}
article img {
  width: 100%;
}
.headercontent {
  position: relative;
}
.headercontent h4 {
  position: absolute;
  top: 30%;
  color: white;
  font-size: 3em;
  left: 10%;
}
.headercontent p {
  position: absolute;
  font-size: 3.3em;
  font-weight: 700;
  color: white;
  top: 35%;
  left: 25%;
}

@media (max-width: 650px) {
  main {
    flex-wrap: wrap;
  }
  article {
    width: 80%;
    margin: 2rem;
  }
}
